<!DOCTYPE HTML>
<html>
<head>
    <title>
        Movie Review
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Welcome to Movie Reviewing site!</h1>
<form method="post" action="join">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" placeholder="Enter the name." autocomplete="off"> <br>
    <label for="id">Id</label>
    <input id="id" name="id" type="text" placeholder="Enter the ID." autocomplete="off"> <br>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" placeholder="Enter the password." autocomplete="off"> <br>
    <button type="submit">Create</button>
</form>
</body>

</html>